<!-- div data-role="fieldcontain">
    <fieldset data-role="controlgroup" data-type="horizontal">
         	<input type="radio" name="rb-login" id="rb-login" value="login" checked="checked" />
         	<label for="rb-login">Login</label>

         	<input type="radio" name="rb-admin" id="rb-admin" value="admin"  />
         	<label for="rb-admin">Admin</label>

         	<input type="radio" name="rb-component" id="rb-component" value="component"  />
         	<label for="rb-component">Components</label>
    </fieldset>
</div -->

<button id="admin">Admin</button>
<button id="component">Components</button>