<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "net.uk.sweet.test"
        versionCode="10" 
        version   = "0.0.1">

    <!-- versionCode is optional and Android only -->

    <name>Hello World</name>

    <description>
        An example for phonegap build docs. 
    </description>

    <author href="http://ian.sweet.uk.net" email="ian@sweet.uk.net">
        Ian Watson 
    </author>

</widget>